.cartcontrol{
    font-size:0;
    .cart-decrease,.cart-add{
        display:inline-block;
        vertical-align:top;
        padding:6px;
        font-size:24px;
        line-height:24px;
        color:rgb(0,160,220);
    }
    .cart-descrease{
        
    }
    .cart-count{
        display:inline-block;
        vertical-align:top;
        line-height:24px;
        padding-top:6px;
        text-align:center;
        font-size:10px;
        color:rgb(147,153,159);
    }
    .cart-add{
        
    }
}
